
$primary: #7EC7F2
$secondaty: #0B0121
$accent: #F8F0FB
$accent2: #171D1C
$btn-color: #39118B

$padding: 2em
$padding-h: 2em 0

@use 'sassFiles/__mediaQuery.sass'
@use 'sassFiles/__animations.sass'
@use 'sassFiles/__monitor.sass'

@mixin button($padd, $radius, $bg-color, $color)
    padding: $padd
    border: 1px solid $bg-color
    border-radius: $radius
    background-color: $bg-color
    color: $color
    


// Los comentarios separan secciones. luego se convertiran en archivos individuales

body
    font-family: 'poppins', sans-serif
    // nav-bar
    nav
        background-color: $secondaty !important
        .nav-style  
            display: flex
            width: 100%
            justify-content: center
            gap: 0 3em
    // HOME
    
    .home-container 
        display: grid
        place-items: center
        background-color: $secondaty
        color: $accent
        font-family: 'poppins'
        .container-hero 
            background-color: $primary
            width: 100%
            padding: $padding 
            order: 2
        .proposal-card
            display: flex
            flex-direction: column
            align-items: center
            padding: 5em 1em
            .title-container
                padding: 1em 0
                text-align: center
                .title-home 
                    font-size: 3em
                    margin-bottom: 1em
                    span
                        border-bottom: solid 2px $primary
                p
                    text-align: center
                    font-size: 1.2em
                    font-weight: 300
        .btn-container 
            display: grid
            width: 100%
            grid-gap: .5em
            .proposal-btn
                @include button(1em, .3em, $btn-color, $accent)
                a
                    text-decoration: none
                    color: $accent
                    font-size: 1.3em
                    font-weight: 300
            .btn-secondary
                background-color: #002B44
                border: 1px solid #002B44

// About
.about__main
    background: linear-gradient(51deg, rgba(11,1,33,1) 84%, rgba(95,191,249,1) 100%)
    color: $accent
    font-weight: 300
    display: grid
    place-items: center
    grid-gap: 50px
    padding: $padding
    .spacer
        height: 30px
    .about_img-detalle
        background-color: $primary
        border-radius: 50%
        width: 300px

    .about__text-container
        display: grid
        place-items: center


    .stack
        display: grid
        place-items: center
        h2
            font-size: 2em
            text-align: center
            margin-bottom: 1em
        .stack-wrapper
            display: grid
            grid-template-columns: repeat(2, auto)
            place-items: center
            grid-gap: 1em
            list-style: none
            .stack-item
                display: grid
                place-items: center
                width: 100px
                span
                    font-size: 14px
                    text-align: center
                    text-transform: uppercase
                    font-weight: 500
                i
                    font-size: 50px


// Proyectos

.proyect__main
    background-color: $primary
    h1
        text-align: center
        padding: calc($padding / 4)
        font-weight: bold
        font-size: 2.5em
        color: $secondaty
        text-shadow: 3px 1px 0px $accent
    .proyect__grid
        display: grid
        grid-row: repeat(6, auto)
        place-items: center
        padding: 0 .5em
        .proyect__card 
            display: grid
            place-items: center
            grid-gap: 1em
            h2
                width: 75%
                text-align: center
                font-weight: bold
                color: $accent
                text-shadow: 3px 1px 0px $secondaty
            .proyect__img-container
                border-radius: .25em
                overflow: hidden

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px

            .proyect__card-buttons
                padding: $padding-h
                display: flex
                flex-wrap: wrap
                justify-content: center
                gap: 1em
                button
                    @include button(1em,.5em , $btn-color, $accent)


// Proyecto Detalle

.detail__main
    background-color: $primary
    text-align: center
    color: $accent2
    display: grid
    
    h1
        padding: calc($padding / 2)
        font-weight: bold
        font-size: 2em
        color: $secondaty
        text-shadow: 3px 1px 0px $accent
    .detail__img-container
        display: grid
        place-items: center
        grid-gap: 1em
        padding: calc( $padding / 4)
        margin-bottom: 1em
        img
            border-radius: .25em
            overflow: hidden
    .detail__wrapper
        display: grid
        place-items: center
        padding: $padding
        p
            a
                text-decoration: none
                color: $btn-color
                font-weight: 600
        hr
            height: 2px
            width: 50%
            color: $secondaty
        .detail__tech
            color: $secondaty
            text-shadow: 3px 1px 0px $accent
    
            i
                font-size: 30px
                color: $secondaty
                padding: 0 1em
            button
                @include button(.5em, .25em, $btn-color, $accent)
                margin-top: .5em
                a
                    text-decoration: none
                    color: $accent
                    i
                        color: $accent
        .detail__buttons
            a
                @include button(.7em, .5em , $secondaty, $accent )
                text-decoration: none
            padding: calc($padding / 2)
            margin-bottom: 1em
            
        

            
// CONTACTO
.contac__main
    background-color: $primary
    display: grid
    place-items: center
    grid-gap: $padding
    padding-top: $padding
    h1
        text-align: center
        font-weight: bold
        font-size: 2.5em
        span
            font-size: 14px
            font-weight: 500
    img
        width: 250px
        margin-bottom: 1em
    form
        display: flex
        flex-direction: column
        margin: .5em
        label 
            font-weight: 300
            margin: .75em 0
        input
            padding: calc($padding / 4)
            border: none
            border-radius: .5em
        textarea
            padding: calc($padding / 4)
            border: none
            border-radius: .250em
            margin-bottom: 1em
        .submit-btn
            @include button(calc($padding / 4), .25em, $btn-color, $accent)

            
    .contac__other-means
        // border: 1px solid black
        text-align: center
        a
            text-decoration: none
            color: #39118B
            font-size: 40px
            .contact-ways-container
                display: flex
                justify-content: space-evenly
                align-items: center


    // FOOTER

.footer
    background-color: $secondaty
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1em


    .footer__links-container
        padding: calc($padding / 4)
        display: flex
        justify-content: center
        flex-wrap: wrap
        a
            text-decoration: none
            color: $accent
            text-align: center
            margin-right: 1em
            padding: calc($padding / 2) 0
            font-weight: 600
    .footer__icons-container
        display: flex
        justify-content: space-around
        width: 50%
        i
            font-size: 20px
            color: $accent
    hr
        width: 50%
        background-color: $accent
        height: 2px
    .footer__copy
        text-align: center
        font-size: 12px
        color: gray
        a
            text-decoration: none
            font-weight: 600
            color: $accent

